In [24]:
x = 1
y = 2
unit_price = 3

In [28]:
print("Hello World")

print ("*" * 10)

Hello World
**********

In [32]:
#VARIABLES
#INTEGERS, FLOAT,  BOOLEAN, STRINGS
students_count = 1000
rating = 4.99
is_published = False
course_name = "Python Programing"
print(students_count)

1000

In [44]:
#VARIABLE NAMES: Variable names must be descriptive and meaningful
#in python we cannot use space so underscore is used to seperate words to make it meaningful
#Whenever you work with text, you must surround your text with double or single quotes

course = "Python Programming"
len(course)
print(len(course))
print(course[0])
print(course[-1])
print(course[0:3])
print(course[0:])
print(course[:3])
print(course[:])

18
P
g
Pyt
Python Programming
Pyt
Python Programming

In [48]:
#ESCAPE CHARACHTER
#ESCAPE SEQUENCES
#\"
#\'
#\\
#\n

course = "Python \nProgramming"
print(course)

Python
Programming

In [50]:
#FORMATTED STRINGS
first = "Mosh"
last = "Hamedani"
full = f"{first} {last}"
print(full)

Mosh Hamedani

In [65]:
#STRING METHODS

course = "Python Programming"
print(course.upper())
print(course.lower())
print(course.title())
print(course.strip())
print(course.find("Pro"))
print(course.replace("P","J"))
print("Pro" in course)

PYTHON PROGRAMMING
python programming
Python Programming
Python Programming
7
Jython Jrogramming
True

In [67]:
#COMPLEX NUMBERS
#ARITHMETIC OPERATORS
x = 1
x = 1.1
x = 1 + 2j #a + bi

print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)

#AUGMENTED ASSIGNMENT OPERATOR
x = 10
x = x + 3
#SAME AS
x += 3

13
7
30
3.3333333333333335
3
1
1000

In [71]:
#WORKING WITH NUMBERS
import math
print(round(2.9))
print(abs(-2.9))

print(math.ceil(2.2))

3
2.9
3

In [79]:
#TYPE CONVERSION
#int()
#float()
#bool()
str()
x = input("x: ")
y = int(x) + 1
print(f"x: {x}, y: {y}")

x:  1

x: 1, y: 2

In [85]:
#COMPARISON OPERATORS
10 > 3
10 >= 3
10 < 20
10 <= 20
10 == 10
10 == "10"
10 != "10" #not equal to
#with STRINGS

True

In [93]:
#CONDITIONAL STATEMENTS
temperature = 15
if temperature > 30:
    print("it's warm")
    print("Drink water")
elif temperature > 20:
    print("It's nice")
else:
    print("it's Cold")
print("Done")

it's Cold
Done

In [99]:
#TERNARY OPERATOR
#WRITING A PROGRAM FOR A UNIVERSITY (EXAMPLE)
age = 22
if age >= 18:
    message = "Eligible"
else:
    message = "Not eligible"

print(message)

#TERNARY OPERATOR
message = "Eligible" if age >= 18 else "Not eligible"
print(message)

Eligible
Eligible

In [101]:
#LOGICAL OPERATORS
#and , or, not
#APPLICATION FOR PROCESSING LOAN
high_income = True
good_credit = True

if high_income and good_credit:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [107]:
#LOGICAL OPERATORS
#and , or, not
#APPLICATION FOR PROCESSING LOAN
high_income = False
good_credit = True

if high_income or good_credit:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [111]:
#LOGICAL OPERATORS
#and , or, not
#APPLICATION FOR PROCESSING LOAN
high_income = False
good_credit = True
student = False

if (high_income or good_credit) and not student:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [115]:
#SHORT-CIRCUIT EVALUATION
#IN PYTHON LOGICAL OPERATORS ARE SHORT CIRCUIT
high_income = True
good_credit = True
student = True

if high_income or good_credit or not student:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [119]:
#CHAINING COMPARISON OPERATORS
#Age should be between 18 and 65
age = 22
#if age >= 18 and age < 65: same as
if 18 <= age < 65:
    print("Eligible")

Eligible

In [121]:
if 10 == "10":
    print ("a")
elif "bag" > "apple" and "bag" > "cat":
    print("b")
else:
    print("c")

c

In [129]:
#FOR LOOPS (CREATES REPEATATION
for number in range(1, 4):
    print("Attempt", number, number  * ".")

Attempt 1 .
Attempt 2 ..
Attempt 3 ...

In [135]:
#FOR..ELSE
successful = True
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 time and failed")

Attempt
Successful

In [147]:
#NESTED LOOPs
for x in range(5):
    for y in range(3):
        print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [143]:
#ITERABLES
for x in range(5):
    print(x)

0
1
2
3
4

In [145]:
#While loop
number = 100
while number > 0:
    print(number)
    number //= 2

100
50
25
12
6
3
1

In [155]:
command = ""
while command.lower() != "quit":
    command = input(">")
    print("ECHO", command)

> well

ECHO well

> QUIT

ECHO QUIT

In [162]:
#INFINIT LOOP
while True:
    command = input(">")
    print("ECHO", command)
    if command.lower() == "quit":
        break

> quit

ECHO quit

In [192]:
count = 0
for x in range(1, 10):
    if x % 2 == 0:
        count += 1
        print(x)
print(f"we have {count} even numbers")

2
4
6
8
we have 4 even numbers

In [223]:
#FUNCTIONS
def salute(first_name, Last_name):
#    print(f"Hi {first_name} {last_name}")
    print("Welcome aboard")

#print(salute("Paul", "Usigbe"))

In [221]:
def increment(number, by):
    return number + by

print(increment(2, 1))

3

In [ ]:
#CATEGORIES FOR MISSING VALUES
#df.isnull()
#df.isna().sum()
#