In [21]:
import pandas as pd

import requests

resp = requests.get("https://jsonplaceholder.typicode.com/posts")

data = resp.json()

df = pd.DataFrame(data)

print(df)

user = df['userId'].value_counts().sort_index()

print(user)

user_Title = df['title'].apply(len)

print()
print()
print(user_Title)

df['multiplication'] = df['userId'] * df['id']

df.drop('title', axis = 1)

print(df)

    userId   id                                              title  \
0        1    1  sunt aut facere repellat provident occaecati e...
1        1    2                                       qui est esse
2        1    3  ea molestias quasi exercitationem repellat qui...
3        1    4                               eum et est occaecati
4        1    5                                 nesciunt quas odio
..     ...  ...                                                ...
95      10   96  quaerat velit veniam amet cupiditate aut numqu...
96      10   97         quas fugiat ut perspiciatis vero provident
97      10   98                        laboriosam dolor voluptates
98      10   99  temporibus sit alias delectus eligendi possimu...
99      10  100              at nam consequatur ea labore ea harum

                                                 body
0   quia et suscipit\nsuscipit recusandae consequu...
1   est rerum tempore vitae\nsequi sint nihil repr...
2   et iusto sed quo iure\nvoluptatem occaecati om...
3   ullam et saepe reiciendis voluptatem adipisci\...
4   repudiandae veniam quaerat sunt sed\nalias aut...
..                                                ...
95  in non odio excepturi sint eum\nlabore volupta...
96  eum non blanditiis soluta porro quibusdam volu...
97  doloremque ex facilis sit sint culpa\nsoluta a...
98  quo deleniti praesentium dicta non quod\naut e...
99  cupiditate quo est a modi nesciunt soluta\nips...

[100 rows x 4 columns]
userId
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
Name: count, dtype: int64


0     74
1     12
2     59
3     20
4     18
      ..
95    57
96    42
97    27
98    53
99    37
Name: title, Length: 100, dtype: int64
    userId   id                                              title  \
0        1    1  sunt aut facere repellat provident occaecati e...
1        1    2                                       qui est esse
2        1    3  ea molestias quasi exercitationem repellat qui...
3        1    4                               eum et est occaecati
4        1    5                                 nesciunt quas odio
..     ...  ...                                                ...
95      10   96  quaerat velit veniam amet cupiditate aut numqu...
96      10   97         quas fugiat ut perspiciatis vero provident
97      10   98                        laboriosam dolor voluptates
98      10   99  temporibus sit alias delectus eligendi possimu...
99      10  100              at nam consequatur ea labore ea harum

                                                 body  multiplication
0   quia et suscipit\nsuscipit recusandae consequu...               1
1   est rerum tempore vitae\nsequi sint nihil repr...               2
2   et iusto sed quo iure\nvoluptatem occaecati om...               3
3   ullam et saepe reiciendis voluptatem adipisci\...               4
4   repudiandae veniam quaerat sunt sed\nalias aut...               5
..                                                ...             ...
95  in non odio excepturi sint eum\nlabore volupta...             960
96  eum non blanditiis soluta porro quibusdam volu...             970
97  doloremque ex facilis sit sint culpa\nsoluta a...             980
98  quo deleniti praesentium dicta non quod\naut e...             990
99  cupiditate quo est a modi nesciunt soluta\nips...            1000

[100 rows x 5 columns]

In [27]:
df = pd.DataFrame({
    'name' : ['James', 'John', 'Ibrahim', 'Silas'],
    'age' : [70, 80, 90, 45]

})

json_data = df.to_json(orient = 'records', indent = 2)

print(json_data)

[
  {
    "name":"James",
    "age":70
  },
  {
    "name":"John",
    "age":80
  },
  {
    "name":"Ibrahim",
    "age":90
  },
  {
    "name":"Silas",
    "age":45
  }
]

In [43]:
#conditional statement 

age = int(input("Enter your age:"))

if age >= 18 and age <= 65:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 17

You are not eligible to vote

In [61]:
#CONDITIONAL STATEMENT THAT EXECUTE THE 3 TRAFFIC COLOR

traffic_Light  = str(input("color: "))

if traffic_Light == "Red" or traffic_Light == "red":
    print("stop")

elif traffic_Light == "Yellow" or traffic_Light == "yellow":
    print("ready")

elif traffic_Light == "Green" or traffic_Light == "green":
    print("go")

else:
    print("Enter the right color light")

color:  green

go